.App {
  color: rgb(17, 17, 17);
  max-width: 740px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(118, 143, 255, 0.1) 0px 16px 24px 0px;
  padding: 40px;
  margin: 65px auto 45px;
  border-radius: 4.5px;
}

.App-link {
  color: #61dafb;
}

.format-toolbar {
  display: flex;
  border-bottom: solid 1.2px;
  padding: 10px 0;
  margin: 0 0 10px 0;
}

.tooltip-icon-button {
  border: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
